[submodule "submodules/Jumpy-Mario"]
	path = submodules/Jumpy-Mario
	url = https://github.com/cyang/Jumpy-Mario
[submodule "submodules/Solar-System"]
	path = submodules/Solar-System
	url = https://github.com/cyang/Solar-System
