.nav {
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: #393c3d;
  z-index: 100;
}

.consolas {
  font-family: Consolas, monaco, monospace;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  color: lightseagreen;
}

.spacing {
  word-spacing: 20px;
}

.nav a {
  color: snow;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('images/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  z-index: -1;
}

.jumbotron .container {
  position: relative;
  top:40px;
}

.jumbotron h1 {

  color: #fff;
  font-size: 60px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {

  font-size: 30px;
  color: #fff;
}

.about-me{
  padding: 30px 10px;
  border-bottom: 2px solid #dbdbdb;
}

.about-me img{
  display: block;
  margin-left: auto;
    margin-right: auto;
  width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  position: relative;
  border: 3px solid mediumspringgreen;
  
}


.about-me h1{
    color: #393c3d;
    font-size: 40px; 
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.about-me p{
  top: 15px;
  position: relative;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      line-height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}


.projects {
  padding-top: 30px;
  background-color: #efefef;
  border-bottom: 2px solid #dbdbdb;
}

.projects h1{
    color: #393c3d;
    font-size: 40px; 
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.projects h2{
    color: #00b0ff;
    font-size: 25px; 
/*    font-family: 'Shift', sans-serif;*/
    font-weight: bold;
}

.experience {
  padding: 30px 10px;
  border-bottom: 2px solid #dbdbdb;
}

.experience h1{
    color: #393c3d;
    font-size: 40px; 
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.contact{
  padding: 30px 10px;
  background-color: #efefef;
  padding-bottom: 50px;
  
}

.contact h1 {
    color: #393c3d;
    font-size: 40px; 
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.contact p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
}

.contact a {
  color: #00b0ff;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  padding: 10px;
}

.social-icons img{
  width: 60px;
  height: 60px;
}

/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 450px;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png');
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy {
  text-align: center;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  margin-top: 10px;
  text-align: left;
  padding: 10px;
}

/* Slide feature */

.slide-feature {
  text-align: center;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}